body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Rubik", sans-serif;
  font-family: "The Nautigal", cursive;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.banner-sec {
  background-image: url(../images/donation-9.jpg);
  background-size: cover;
  height: 700px;
  background-position: top;
}
.heading-1 {
  font-size: 70px;
  border: 0;
  margin: 0;
  color: #dddd;
  text-align: center;
  text-shadow: #dddd;
  padding-top: 280px;
}
.heading-paragraph {
  color: #dddd;
  font-size: 18px;
  text-align: center;
}
.main-btn {
  background-color: #ff5959;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
}
.main-btn a {
  text-decoration: none;
  color: #ffff;
  font-size: 16px;
  font-weight: 700;
}
.banner-btn {
  text-align: center;
}
/* donate today sec=================================================== */
.donate-today-sec {
  padding: 160px 0px;
}
.donate-today-h1 {
  font-size: 40px;
  text-align: center;
}
.donate-paragraph {
  color: grey;
  font-size: 18px;
  text-align: center;
}
.donate-options {
  display: flex;
  justify-content: space-evenly;
  padding: 80px 260px;
}
.option {
  width: 160px;
  height: 120px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 35px;
  font-weight: 700;
  border-radius: 5px;
}
.selected-option {
  width: 160px;
  height: 120px;
  background-color: #ffeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5959;
  font-size: 35px;
  font-weight: 700;
  border: 3px solid #ff5959;
  border-radius: 5px;
}
.amount {
  display: flex;
  justify-content: center;
  padding: 40px 60px;
}
.amount-input {
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.hr-container {
  display: flex;
  justify-content: center;
}
.horizontal-line {
  width: 600px;
  color: #dddd;
  margin-bottom: 20px;
}
/* donate plan sec====================================================== */
.donate-plan {
  padding: 60px 0px;
}
.donate-plan-each {
  width: 300px;
  background-color: #edf5f6;
  padding: 25px;
  border-radius: 5px;
}
.donate-plan-each p {
  text-align: left;
}
.donate-plan-items {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 180px;
}
.bg2 {
  background-color: #ffeeee;
}
.bg3 {
  background-color: #fff4d6;
}
/* their lives sec=================================================== */
.their-lives-sec {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 200px;
  align-items: center;
}
.their-lives-left {
  width: 50%;
  margin: 30px;
}
.their-lives-left h1 {
  text-align: left;
}
.their-lives-left img {
  width: 80%;
  border-radius: 10px;
}
.their-lives-right {
  width: 50%;
}
.main-bg-btn {
  background-color: #dddd;
}
/* update sec============================================================ */
.update-field {
  display: flex;
  justify-content: center;
  background-color: #fff4d6;
  margin: 40px 300px;
  text-align: center;
  height: 260px;
  align-items: center;
}
.update-field input {
  border: none;
  background-color: #dddd;
  padding: 15px 60px;
}
